<ion-header>
    <div class="Spacing"></div>
    <ion-navbar>
    <ion-title style="text-align: center;" color="light" *ngIf="!bgNovo">  
      Bug #2
    </ion-title>
    <ion-buttons right>
        <button ion-button color="primary" (click)="fechaModal();">
            Gravar
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form id="moreInfoBugs" class="bugEditor" *ngIf="!bgNovo">
    <ion-slides pager>


        <!-- Testa se eh para cadastrar um novo Bug -->
        <ion-slide class="bugSlide">
 
        <!-- Imagem e titulo para um bug corrigido -->
        <div class="center" *ngIf="bgCorrigido">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/check150.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: #32db64;">Corrigido</h1>
            </div> 
    
    
            <!-- Imagem e titulo para um bug pendente -->
            <div class="center" *ngIf="bgPendente">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/cXSfpfvOQaCr4TUoWLFF_waning.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: rgba(255, 188, 5, 0.829);">Pendente</h1>
            </div>
            
    
            <!-- Imagem e titulo para um bug em correcao -->
            <div class="center" *ngIf="bgCorrecao">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/construct.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: #B44BFF;">em Correção!</h1>
            </div>  
    
    
            <!-- Imagem e titulo para um bug rejeitado -->
            <div class="center" *ngIf="bgRejeitado">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/archived.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: #222;">Rejeitado!!</h1>
            </div> 
    

            <br>
            <ion-label left style="float:left;">
                Descricao
            </ion-label>
            <ion-item id="moreInfoBugs-textarea1">
            <ion-textarea placeholder="adfasdfasf" value="Este foi um bug fixado na fase de Dev :)"></ion-textarea>
            </ion-item>
            <ion-label left style="float:left;">
                Procedimento
            </ion-label>
            <ion-item id="moreInfoBugs-textarea2">
            <ion-textarea placeholder="adfsdfadfadfasdfasdfafadfasdfadfadf" value="O Procedimento não existe."></ion-textarea>
            </ion-item>
        </ion-slide>   
        <ion-slide>
            <ion-item>
                <ion-label stacked left>
                    Versao
                </ion-label>
                <ion-select>
                        <ion-option value="5110">5.110</ion-option>
                        <ion-option value="5111">5.111</ion-option>
                        <ion-option value="5112">5.112</ion-option>
                        <ion-option value="5113" selected="true">5.113</ion-option>
                </ion-select>    
            </ion-item>
            <ion-item>
                <ion-label stacked left>
                    Release
                </ion-label>
                <ion-select>
                        <!-- Apos fazer a comunicacao com o Outpost essa parte sera dinamica -->
                            <ion-option value="ALFA"     >ALFA</ion-option>
                            <ion-option value="BRAVO"    >BRAVO</ion-option>
                            <ion-option value="CHARLIE"  >CHARLIE</ion-option>
                            <ion-option value="DELTA"  selected="true">DELTA</ion-option>
                            <ion-option value="ECHO"     >ECHO</ion-option>
                            <ion-option value="FOX"      >FOX</ion-option>
                            <ion-option value="GOLF"     >GOLF</ion-option>
                            <ion-option value="HOTEL"    >HOTEL</ion-option>
                            <ion-option value="INDIA"    >INDIA</ion-option>
                            <ion-option value="JULIETE"  >JULIETE</ion-option>
                            <ion-option value="KILO"     >KILO</ion-option>
                            <ion-option value="LIMA"     >LIMA</ion-option>
                            <ion-option value="MIKE"     >MIKE</ion-option>
                            <ion-option value="NOVEMBER" >NOVEMBER</ion-option>
                            <ion-option value="OSCAR"    >OSCAR</ion-option>
                            <ion-option value="PAPA"     >PAPA</ion-option>
                            <ion-option value="QUEBEC"   >QUEBEC</ion-option>
                            <ion-option value="ROMEO"    >ROMEO</ion-option>
                            <ion-option value="SIERRA"   >SIERRA</ion-option>
                            <ion-option value="TANGO"    >TANGO</ion-option>
                            <ion-option value="UNIFORME" >UNIFORME</ion-option>
                            <ion-option value="VICTOR"   >VICTOR</ion-option>
                            <ion-option value="WISKY"    >WISKY</ion-option>
                            <ion-option value="XADREZ"   >XADREZ</ion-option>
                            <ion-option value="YANKEE"   >YANKEE</ion-option>
                            <ion-option value="ZULU"     >ZULU</ion-option>
                    </ion-select>
            </ion-item>
        </ion-slide>
        <ion-slide>
                <ion-item>
                    <ion-label stacked left>
                        Ticket
                    </ion-label>
                    <ion-input type="text" name="ticketBug" value="#1234"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked left>
                        Análise
                    </ion-label>
                    <ion-select>
                            <ion-option value="pendente">Pendente</ion-option>
                            <ion-option value="aprovado">Aprovado</ion-option>
                            <ion-option value="recusado" selected="true">Recusado</ion-option>
                    </ion-select>    
                </ion-item>
                    <ion-item>
                        <ion-label stacked left>
                                Feedback
                        </ion-label>    
                        <ion-textarea placeholder="HAHA!" value="FOi RECUSADO POIS TU É UM BABACA!"></ion-textarea>
                    </ion-item>
            </ion-slide>  
    </ion-slides>   
  </form>


  <!-- Form para cadastro de um novo bug -->
  <form id="newBug" class="bugEditor" *ngIf="bgNovo">
    <ion-slides pager>
        <ion-slide class="bugSlide" *ngIf="bgNovo">

            <!-- Imagem e titulo para um bug corrigido -->
            <div class="center" *ngIf="bgCorrigido">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/check150.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: #32db64;">Corrigido</h1>
            </div> 


            <!-- Imagem e titulo para um bug pendente -->
            <div class="center" *ngIf="bgPendente">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/cXSfpfvOQaCr4TUoWLFF_waning.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: rgba(255, 188, 5, 0.829);">Pendente</h1>
            </div>
            

            <!-- Imagem e titulo para um bug em correcao -->
            <div class="center" *ngIf="bgCorrecao">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/construct.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: #B44BFF;">em Correção!</h1>
            </div>  


            <!-- Imagem e titulo para um bug rejeitado -->
            <div class="center" *ngIf="bgRejeitado">
                <h3>Este Bug está </h3>
                <img src="../../assets/imgs/archived.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
                <h1 style="color: #222;">Rejeitado!!</h1>
            </div> 

            <!-- Imagem e titulo para um novo bug -->
            <div class="center" *ngIf="bgNovo">
                    <h3>Novo Bug!</h3>
                    <img src="../../assets/imgs/new.png" style="display:block;width:150px;height:150px;margin-left:auto;margin-right:auto;"/>
            </div>           


            <br>
            <ion-label left style="float:left;">
                Descricao
            </ion-label>
            <ion-item id="moreInfoBugs-textarea1">
            <ion-textarea placeholder="Digite a Descricao do BUG" value=""></ion-textarea>
            </ion-item>
            <ion-label left style="float:left;">
                Procedimento
            </ion-label>
            <ion-item id="moreInfoBugs-textarea2">
            <ion-textarea placeholder="Digite o Procedimento para replicar o BUG" value=""></ion-textarea>
            </ion-item>
        </ion-slide>   
        <ion-slide>
            <ion-label left style="float:left;">
                Versao
            </ion-label>
            <ion-item>
                <ion-select>

                    <!-- Apos fazer a comunicacao com o Outpost essa parte sera dinamica -->
                        <ion-option value="5110">5.110</ion-option>
                        <ion-option value="5111">5.111</ion-option>
                        <ion-option value="5112">5.112</ion-option>
                        <ion-option value="5113">5.113</ion-option>
                </ion-select>    
            </ion-item>


            <ion-label left style="float:left;">
                    Release
            </ion-label>
            <ion-item>
                
                <ion-select>

                    <!-- Apos fazer a comunicacao com o Outpost essa parte sera dinamica -->
                        <ion-option value="ALFA"     >ALFA</ion-option>
                        <ion-option value="BRAVO"    >BRAVO</ion-option>
                        <ion-option value="CHARLIE"  >CHARLIE</ion-option>
                        <ion-option value="DELTA"    >DELTA</ion-option>
                        <ion-option value="ECHO"     >ECHO</ion-option>
                        <ion-option value="FOX"      >FOX</ion-option>
                        <ion-option value="GOLF"     >GOLF</ion-option>
                        <ion-option value="HOTEL"    >HOTEL</ion-option>
                        <ion-option value="INDIA"    >INDIA</ion-option>
                        <ion-option value="JULIETE"  >JULIETE</ion-option>
                        <ion-option value="KILO"     >KILO</ion-option>
                        <ion-option value="LIMA"     >LIMA</ion-option>
                        <ion-option value="MIKE"     >MIKE</ion-option>
                        <ion-option value="NOVEMBER" >NOVEMBER</ion-option>
                        <ion-option value="OSCAR"    >OSCAR</ion-option>
                        <ion-option value="PAPA"     >PAPA</ion-option>
                        <ion-option value="QUEBEC"   >QUEBEC</ion-option>
                        <ion-option value="ROMEO"    >ROMEO</ion-option>
                        <ion-option value="SIERRA"   >SIERRA</ion-option>
                        <ion-option value="TANGO"    >TANGO</ion-option>
                        <ion-option value="UNIFORME" >UNIFORME</ion-option>
                        <ion-option value="VICTOR"   >VICTOR</ion-option>
                        <ion-option value="WISKY"    >WISKY</ion-option>
                        <ion-option value="XADREZ"   >XADREZ</ion-option>
                        <ion-option value="YANKEE"   >YANKEE</ion-option>
                        <ion-option value="ZULU"     >ZULU</ion-option>
                </ion-select>    
            </ion-item>
            <ion-label left style="float:left;">
                    Ticket
            </ion-label>
            <ion-item>
                <ion-input type="text" placeholder="Digite o Numero do Ticket(caso haja). "name="ticketBug" value=""></ion-input>
            </ion-item>

        </ion-slide>
        <ion-slide>
                <ion-label left style="float:left;">
                    Análise
                </ion-label>
                <ion-item>
                    <ion-select>
                            <ion-option value="pendente" selected=true>Pendente</ion-option>
                            <ion-option value="aprovado">Aprovado</ion-option>
                            <ion-option value="recusado">Recusado</ion-option>
                    </ion-select>    
                </ion-item>
                <ion-label left style="float:left;">
                        Feedback
                </ion-label>
                    <ion-item>   
                        <ion-textarea placeholder="Digite o Feedback" value=""></ion-textarea>
                    </ion-item>
            </ion-slide> 
    </ion-slides> 
</form>
<ion-footer style="text-align: center;" color="titulo2" *ngIf="!bgNovo">
    <p>Cadastrado por : {{pNome}}</p>
</ion-footer>
</ion-content>