page-more-info-bugs {
    .center{        
        width     : 100%;
        text-align: center;
        display   : block;
    }
    .iconeGrange{
        width     : 60px;
        height    : 60px;
    }
    .swiper-pagination{
        display   : block;
        top       : 95%;
    } 
    .bugEditor{
        height    : 90%;
    }
    .bugSlide{
        top       : -5%;
    }
    .Spacing{
        width              : 100%;
        height             : 20px;
    }
}
