<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button (click)="fechaModal();" color="primary">
            Fechar
          </button>
        </ion-buttons>
    <ion-title style="text-align: center;">
      My Bugs
    </ion-title>
    <ion-buttons right>
      <button ion-button color="primary">
        Filtrar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="barra">
      <ion-buttons right>
          <button ion-button color="primary" (click)="telaNewBug('NewBug');" >
              <ion-icon name="add" style="padding: 5px;" large></ion-icon>
              Novo Bug
          </button>
      </ion-buttons>
  </div>
  <ion-list id="myBugs-list">
    
    <!-- Preenchimento Automático -->
    <ion-item-sliding #bugs *ngFor="let item of buglist; let I=index" (Swipe)="DeleteItem(bugs , item);">
      <ion-item color="none" id="myBugs" (click)="telaMoreInfo(item);">

        <!-- Testa o Status do Bug para definir o ícone-->
        <ion-icon name="warning"   large item-left color="energized" *ngIf="buglist[I].Status==0"></ion-icon>
        <ion-icon name="construct" large item-left color="royal"     *ngIf="buglist[I].Status==1"></ion-icon>
        <ion-icon name="done-all"  large item-left color="secondary" *ngIf="buglist[I].Status==2"></ion-icon>
        <ion-icon name="archive"   large  item-left color="dark"      *ngIf="buglist[I].Status==3"></ion-icon>


        <h2># {{buglist[I].ID}}</h2>

        <!-- Testa a Prioridade do Bug -->
        <h3 *ngIf="buglist[I].Priority==0">Prioridade : Baixa</h3>
        <h3 *ngIf="buglist[I].Priority==1">Prioridade : Normal</h3>
        <h3 *ngIf="buglist[I].Priority==2">Prioridade : Alta</h3>
        <h3 *ngIf="buglist[I].Priority==3">Prioridade : Urgente</h3>

        <p>{{buglist[I].Descricao}}</p>

      </ion-item>

      <ion-item-options side="right" color="light">

            <button ion-button color="light" style="background-color: white;">
                <ion-icon name="create" item-left color="royal" large></ion-icon>
                Edit
            </button>
            <button ion-button color="light" style="background-color: white;">
                <ion-icon name="trash" item-left color="danger" large (click)="DeleteBugBtn(item);"></ion-icon>
                Erase
            </button>  
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>