<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button (click)="fechaModal();" color="primary">
            Fechar
          </button>
        </ion-buttons>
    <ion-title style="text-align: center;">
      My Tasks
    </ion-title>
    <ion-buttons end>
      <button ion-button color="primary">
        Filtrar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">

    <div class="barra">
        <ion-buttons right>
            <button ion-button color="primary" (click)="telaMoreInfo('NewTask');" >
                <ion-icon name="add" style="padding: 5px;" large></ion-icon>
                New Task
            </button>
        </ion-buttons>
    </div>
  
    <!-- Atualmente está fixo, mas será dinâmico! -->
  <ion-list id="myTasks-list3">
    <ion-item-sliding #sliding1 *ngFor="let item of tasklist; let I=index" (Swipe)="DeleteItem(sliding1,item);">
      <ion-item id="myTasks-list-item3" (click)="oi();">
        <ion-icon name="warning"  color="energized" item-left *ngIf="tasklist[I].status==0"></ion-icon>
        <ion-icon name="done-all" color="secondary" item-left *ngIf="tasklist[I].status==1"></ion-icon>
        <ion-icon name="pulse"    color="danger"    item-left *ngIf="tasklist[I].status==2"></ion-icon>
          <h1>{{tasklist[I].titulo}}</h1>
          <h2>{{tasklist[I].descricao}}</h2>
      </ion-item>

      <!-- Opções do Botão -->
      <ion-item-options side="right">
          <button ion-button color="light" style="background-color: white;" (click)="DeleteItemBtn(item);" >
              <ion-icon name="trash" item-left color="danger" large></ion-icon>
              Erase
          </button>  
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>